
body {
    background-color: #0d1117;
    color: #e6edf3;
}

.table-dark-custom {
    background-color: #161b22;
}

.table-dark-custom th {
    color: #57a6ff;
    border-bottom: 2px solid #30363d !important;
}

.table-dark-custom td {
    border-color: #30363d !important;
}

.card {
    background-color: #161b22;
    border: 1px solid #30363d;
}

.btn-blue {
    background-color: #238636;
    border: none;
}

.btn-blue:hover {
    background-color: #2ea043;
}

.btn-back {
    background-color: #21262d;
    color: #fff;
}

.btn-back:hover {
    background-color: #30363d;
}